name: Deploy

on:
  workflow_call:
    inputs:
      service_name:
        type: string
        description: Name of the service directory (e.g. stats_api)
        required: true
      image_name:
        description: Image name
        required: false
        type: string
      commit_sha:
        description: Commit SHA to deploy (leave blank for latest)
        required: false
        type: string
  workflow_dispatch:
    inputs:
      service_name:
        type: string
        description: Name of the service directory (e.g. stats_api)
        required: true
      image_name:
        description: Image name
        required: false
        type: string
      commit_sha:
        description: Commit SHA to deploy (leave blank for latest)
        required: false
        type: string
      environment:
        type: environment
        description: Select the environment

env:
  IMAGE_URI: gcr.io/arxiv-development/${{ inputs.image_name }}:${{ inputs.commit_sha || github.sha }}

permissions:
  contents: read
  id-token: write

jobs:
  deploy:
    runs-on: ubuntu-latest
    environment: ${{ inputs.environment || 'development' }}
    # only deploy if merged to main
    if: github.ref == 'refs/heads/main'

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Authenticate to Google Cloud
        uses: google-github-actions/auth@v3
        with:
          workload_identity_provider: ${{ vars.PROVIDER_NAME }}
          service_account: ${{ vars.SERVICE_ACCOUNT }}

      - name: Set up Google Cloud SDK
        uses: google-github-actions/setup-gcloud@v3

      - name: Set up terraform
        uses: hashicorp/setup-terraform@v3

      - name: Check version
        run: terraform --version

      - name: Initialize remote backend
        run: terraform init -backend-config="bucket=${{ vars.ENV_VAR }}-arxiv-terraform-state"
        working-directory: "terraform/${{ inputs.service_name }}"

      - name: Format check
        run: terraform fmt -check
        working-directory: "terraform/${{ inputs.service_name }}"

      - name: Apply
        run: terraform apply -var-file=envs/${{ vars.ENV_VAR }}.tfvars -var="image_path=${{ env.IMAGE_URI }}" -auto-approve
        working-directory: "terraform/${{ inputs.service_name }}"
